
body {
	background-image: url("bg.png")
}

.paragraf1 {
	color: black;
}

.paragraf2 {
	color: navy;
}

.snyggruta {
	width: 450px;
	margin: auto;
	border: 1px solid black;
}

.snyggruta2 {
	width: 450px;
	margin: auto;
	margin-top: 100px;
	border: 1px dotted black;
}

#p1h {
	color: yellow;
}