
body {
	background-image: url("bg.png")
}

.snyggruta {
	background-color: white;
	width: 450px;
	margin: auto;
	border: 1px solid black;
}

.snyggruta2 {
	position: relative;
	left: 30px;
	background-color: white;
	width: 400px;
	margin-top: 100px;
	border: 1px solid black;
	float: left;
}

.snyggruta3 {
	position: relative;
	left: 30px;
	top: 200px;
	background-color: white;
	width: 400px;
	border: 1px solid black;
	float: left;
	margin: 0 0 0 30px;
}

.snyggruta4 {
	position: relative;
	left: 30px;
	top: 200px;
	background-color: white;
	width: 400px;
	border: 1px solid black;
	float: left;
	margin: 0 0 0 30px;
}

#t {
	text-align: center;
	font-family: "Times New Roman", Georgia, Serif;
	font-weight: normal;
}